@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Felipa&display=swap');
@import 'tailwindcss';

:root {
  --bg: oklch(91% 0.03 85);
  --bg-card: oklch(84% 0.05 80);
  --bg-dark: oklch(24% 0.03 90);
  --bg-darker: oklch(16.703% 0.02056 83.774);

  --text: oklch(28% 0.04 85);
  --text-muted: oklch(45% 0.04 80);
  --text-light: oklch(95% 0.01 90);

  --accent-green: oklch(48% 0.08 140);
  --accent-brown: oklch(52% 0.09 65);
  --accent-gold: oklch(78% 0.12 85);

  font:
    18px/145% 'Cardo',
    serif;
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--text);
  background: var(--bg-darker);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@theme {
  --font-display: 'Cardo', serif;
  --font-handwritten: 'Felipa', cursive;
}

body {
  padding: 0px;
  display: flex;
  justify-content: center;
}
